html {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#FC5E55, #FA4083);
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
}

header {
  /* background-color: blue; */
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 2px solid white;
}

main {
  align-items: center;
  /*   background-color: lightgreen; */
  display: flex;
  min-height: 300px;
}

a {
  color: white;
  text-decoration: none;
}

h1 {
  font-size: 3.25rem;
  font-family: 'Merriweather', serif;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 2rem;
  font-family: 'Merriweather', serif;
  margin-top: 20px;
}

p {
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

.container {
  width: 1024px;
  min-height: 300px;
  margin: auto;
}

.navbutton {
  border: solid 2px white;
  padding: 10px 20px;
}

.herobox1 {
  flex: 2;
  margin-right: 100px;
}

.herobox2 {
  flex: 1;
}

.button {
  background-color: white;
  border-radius: 12px;
  color: #FA4083;
  display: inline-block; /*if block, it will take all the width*/
  padding: 11px 20px;
}

.button:hover {
  background-color: rgb(196, 228, 17);
  transition-duration: 1s;
}

.cards {
  align-content: center;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.card1, .card2, .card3 {
  box-sizing: border-box;
  padding: 20px 25px 20px 25px;
}

.card1 {
  background-image: url(images/image-background-card1.jpg);
  background-position: center;
  background-size: cover;
  width: 30%;
  min-height: 300px;
}

.card2 {
  background-image: url(images/image-background-card2.jpg);
  background-position: center;
  background-size: cover;
  width: 30%;
  min-height: 300px;
}

.card3 {
  background-image: url(images/image-background-card3.jpg);
  background-position: center;
  background-size: cover;
  width: 30%;
  min-height: 300px;
}

.cards p { /* all the p tags in cards */
  font-size: 0.95 rem;
  margin: 10px 30px 20px 30px;
}

.cards i {
  font-size: 80px;
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.tbox {
  border: solid 2px white;
  box-sizing: border-box;
  margin-top: 30px;
  padding: 50px;
  text-align: justify;
  width: 47%;
}

.tbox p:last-of-type {
  font-size: 0.9rem;
  padding: 20px;
}
